@use "../abstract/" as *;
.attribution{
    font-size: rem(11);
    margin-inline:auto ;
    text-align: center;
    color: $pale-violet;
    margin-block-start: rem(30);
    @include breakpoint-up(md){
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
    a{
        color: $d-grayish-violet;
        text-decoration: none;
    }
}